body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hideScrollBar {
  overflow: hidden; /* Ensures that no scrollbars appear */
}

.hideScrollBar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

.hideScrollBar {
  -ms-overflow-style: none;  /* Hides scrollbar in Internet Explorer */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}


@tailwind base;
@tailwind components;
@tailwind utilities;